@model TicketVM
<link href="@(Url.Content("~/css/_ticket.css"))" rel="stylesheet" asp-append-version="true" />

@{
    var user = await UserManager.GetUserAsync(User);
}

<div id="ticket-container">
    <div id="ticket-header">
        <label id="lblTicketDueDate">Section: @Model.SectionTitle</label>

        <br /><label id="lblTicketIdTitle">Ticket #: </label>
        <span><label id="lblTicketId">@Model.TicketId</label></span>
        <span>v<label id="lblTicketVersion">@Model.TicketVersion</label></span>
        <label id="lblTicketTitle">Title: @Model.Title</label>
        <label id="lblTicketParentId">Parent Ticket: @Model.ParentTicketId</label>

        <br><label id="lblTicketAssignedTo">Owner: @Model.AssignedTo</label>
        <label id="lblTicketStatus">Status: @Model.Status</label>
        <label id="lblTicketDueDate">Due Date: @Model.DueDate</label>

        <br><label id="lblTicketPriorityLvl">Priority Level: @Model.PriorityLevel</label>
        <br><label id="lblTicketCreatedBy">Created By: @Model.CreatedBy</label>
        <br><label id="lblTicketCreatedDate">Created Date: @Model.CreatedDate</label>
        
        <br /><label id="lblTicketDesc">Description:</label>
        <br /><label>@Model.Description</label>
    </div>
    <input id="hdnUser" value="@user" type="hidden" />
    <input id="hdnTicketId" value="@Model.TicketId" type="hidden" />

    <form>
        @Html.AntiForgeryToken()
        <div id="ticket-notes-container"></div>
    </form>

    <button type="button" id="btnGoToTickets">Back</button>

</div>


