@model TicketSettingsVM


<link href="~/css/_ticketsettings.css" rel="stylesheet" asp-append-version="true"/>

@{
}

<h1>Settings</h1>

<br />

<div id="ticket-settings-container">
    <form id="ticket-settings-form">
    
        @Html.AntiForgeryToken()
        <h4>Section</h4>

        <span id="rdo-section-container">
            <input id="rdo-section-custom" name="rdo-section" type="radio" value="@((int)Constants.SectionSettings.Custom)" @(Model.SectionSetting == Constants.SectionSettings.Custom ? "checked" : "") />
            <label for="rdo-section-custom">Custom</label>

            <input id="rdo-section-development" name="rdo-section" type="radio" value="@((int)Constants.SectionSettings.Development)" @(Model.SectionSetting == Constants.SectionSettings.Development ? "checked" : "") />
            <label for="rdo-section-development">Development</label>
        </span>

        <br />

        <div id="section-settings">
            @foreach (var s in Model.Sections)
            {
                <span class="delete-section">
                    @s.Title <span class='delete'>x</span>
                </span>
            }
        </div>
        <div id="sections-container" class="@(Model.SectionSetting != Constants.SectionSettings.Custom ? "hidden" : "")">
            <br />
            <button id="add-section-btn" class="primary-btn" type="button">Add</button>
            <input id="section-title-input" type="text" placeholder="section name" />
        </div>

        

        <br />
        <br />
        <br />

        <h4>Sprint</h4>
        <br />

        <div id="sprint-dates-container" class="@(Model.RepeatSprintOption == (int)Constants.RepeatSprint.Never 
                                                || Model.RepeatSprintOption == null ? "hidden" : "")">

            <label for="start-date">Start Date</label>
            <input id="start-date" type="date" value="@FormatUtcDatePicker(Model.SprintStart)" />

            <div id="dv-end-date">
                <label for="end-date">End Date</label>
                <input id="end-date" type="date" value="@FormatUtcDatePicker(Model.SprintEnd)" />
            </div>
        </div>
        

        <label><b>Repeat:</b></label>

        <span id="rdo-repeat-container">
            <input id="rdo-repeat-never" name="rdo-repeat" type="radio" value="@((int)Constants.RepeatSprint.Never)" @(Model.RepeatSprintOption == (int)Constants.RepeatSprint.Never
                                                                                                                        || Model.RepeatSprintOption == null ? "checked" : "") />
            <label for="rdo-repeat-never">Never</label>

            <input id="rdo-repeat-weekly" name="rdo-repeat" type="radio" value="@((int)Constants.RepeatSprint.Weekly)" @(Model.RepeatSprintOption == (int)Constants.RepeatSprint.Weekly ? "checked" : "") />
            <label for="rdo-repeat-weekly">Weekly</label>
            
            <input id="rdo-repeat-biweekly" name="rdo-repeat" type="radio" value="@((int)Constants.RepeatSprint.BiWeekly)" @(Model.RepeatSprintOption == (int)Constants.RepeatSprint.BiWeekly ? "checked" : "") />
            <label for="rdo-repeat-biweekly">Biweekly</label>
            
            <input id="rdo-repeat-monthly" name="rdo-repeat" type="radio" value="@((int)Constants.RepeatSprint.Monthly)" @(Model.RepeatSprintOption == (int)Constants.RepeatSprint.Monthly ? "checked" : "") />
            <label for="rdo-repeat-monthly">Monthly</label>
            
            <input id="rdo-repeat-custom" name="rdo-repeat" type="radio" value="@((int)Constants.RepeatSprint.Custom)" @(Model.RepeatSprintOption == (int)Constants.RepeatSprint.Custom ? "checked" : "") />
            <label for="rdo-repeat-custom">Custom</label>
        </span>

    
        

        <br />
        <br />
        <div id="btn-container">
            <button id="save-settings-btn" class="primary-btn" type="button">Save</button>
            <button type="button" id="back-btn" class="secondary-btn">Back</button>
        </div>

        
    </form>
    
    
</div>

