@using Voyage.Utilities
@model TicketsVM

<link href="~/css/_tickets.css" rel="stylesheet" />

<h1>Tickets</h1>

<hr />
<h4>Sprint @Model.Sprint.SprintId      -------------------------------------------------------------       @Model.Sprint?.StartDate!.Value.ToString("dd MMM yyyy") - @Model.Sprint?.EndDate!.Value.ToString("dd MMM yyyy")</h4>
<hr />

@foreach (var s in Model.Sections)
{
    var sectionTickets = Model.Tickets.Where(t => t.SectionTitle == s.Title).ToList();

    int ticketCount = sectionTickets.Count();
    int numOfPages = (int)Math.Ceiling(ticketCount / 5.0);

    var tickets = sectionTickets.OrderByDescending(t => t.PriorityLevel)
                                .Take(5)
                                .ToList();

    <h4>@s.Title</h4>
    <div id="@(s.Title)-container">
        <table class="app-table">
        <thead>
            <tr>
                <th class="app-table-header"></th>
                <th class="app-table-header">Ticket #</th>
                <th class="app-table-header">@nameof(TicketVM.Title)</th>
                <th class="app-table-header">@nameof(TicketVM.Status)</th>
                <th class="app-table-header">@HelperMethods.AddSpacesToSentence(nameof(TicketVM.AssignedTo))</th>
                <th class="app-table-header">@HelperMethods.AddSpacesToSentence(nameof(TicketVM.DueDate))</th>
                <th class="app-table-header">@HelperMethods.AddSpacesToSentence(nameof(TicketVM.PriorityLevel))</th>
                <th class="app-table-header">Last Edit</th>
                <th class="app-table-header">Editor</th>
                <th class="app-table-header">Created</th>
                <th class="app-table-header">Author</th>

                @if (s.Title != "Discontinued" && s.Title != "Completed")
                {
                <th class="app-table-header">
                    <button class="btnAddTicket" data-section="@s.Title">Add</button>
                </th>
                }

            </tr>
        </thead>
        <tbody>

        @foreach(TicketVM ticket in tickets)
        {
            <tr>
                <td class="app-table-data">
                    <input type="checkbox" />
                </td>
                <td class="app-table-data">
                    <a href="#" class="goto-ticket" data-id="@ticket.TicketId">@ticket.TicketId</a>
                </td>
                <td class="app-table-data">
                    <a href="#" class="goto-ticket" data-id="@ticket.TicketId">@ticket.Title</a>
                </td>
                <td class="app-table-data">@HelperMethods.AddSpacesToSentence(ticket.Status)</td>
                <td class="app-table-data">@ticket.AssignedTo</td>
                <td class="app-table-data">@FormatUtcDate(ticket.DueDate)</td>
                <td class="app-table-data">@ticket.PriorityLevel</td>
                <td class="app-table-data">@FormatUtcDate(ticket.ModifiedDate)</td>
                <td class="app-table-data">@ticket.ModifiedBy</td>
                <td class="app-table-data">@FormatUtcDate(ticket.CreatedDate)</td>
                <td class="app-table-data">@ticket.CreatedBy</td>

                @if (s.Title != "Discontinued" && s.Title != "Completed")
                {
                <td class="app-table-data">
                    <button id="btnViewTicket" class="goto-ticket" data-id="@ticket.TicketId">View</button>
                    <span><button id="btnEditTicket" data-id="@ticket.TicketId">Edit</button></span>
                </td>
                }
            </tr>
        }

        </tbody>
    </table>

        <br />

        <select id="sel-take-section@(s.Title)" class="paginate" data-section="@s.Title">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>

        <button id="btn-left-section@(s.Title)" class="paginate" data-section="@s.Title" type="button" disabled>&lt;--</button>
    <span id="page-btn-container-@s.Title">
    @for(int i = 1; i <= numOfPages; i++)
    {
        
        @if (i == 1)
        {
            <button id="btn-page@(i)section@(s.Title)" class="paginate page selected" data-page="@i" data-section="@s.Title" disabled>@i</button>
        }
        else
        {
            <button id="btn-page@(i)section@(s.Title)" class="paginate page" data-page="@i" data-section="@s.Title">@i</button>
        }
    }
    </span>
        <button id="btn-right-section@(s.Title)" class="paginate" data-section="@s.Title" type="button">--></button>

        <br />
        <br />

    </div>
    <input id="hdnTotalTicketCount@(s.Title)" type="hidden" value="@sectionTickets.Count()" />
}


<input type="hidden" id="hdnSprint" data-sprintId="@Model.Sprint?.SprintId" data-sprintStart="@Model.Sprint?.StartDate" data-sprintEnd="@Model.Sprint?.EndDate" />

