@using Voyage.Models.DTO
@model PasswordResetDTO

<h1>Reset Password</h1>
<form id="resetPasswordForm">
    @Html.AntiForgeryToken()
</form>

<script>
    const antiForgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;
    // const token = '@Model.Token';
    // const email = '@Model.Email';
    // let password = document.getElementById("");

        const resetPassword = {
            token: '@Model.Token',
            email: '@Model.Email',
            password: document.getElementById('password').value
        };

        try {
            const response = await axios.post('@Url.Action("ResetPassword", "User")', resetPassword, {
                    headers: {
                        'X-CSRF-TOKEN': token
                    }
            });

            if (response.data.statusCode === 200){
            }
            else if (response.data.statusCode === 401) {
                // document.getElementById('error-login').innerText = response.data.message;
                // document.getElementById('error-login').style.display = 'block';
            }
        } catch (error) {
            // document.getElementById('error-login').innerText = 'Server error. Please try again.';
            // document.getElementById('error-login').style.display = 'block';
            // console.error(error);
        }
</script>