<header>
    <nav id="header-nav">
        <div id="dv-nav-brand">
            <!-- Hamburger button Side Nav toggle-->
            @if (User.Identity?.IsAuthenticated == true)
            {
                <button id="btn-side-nav-toggle" class="btn hidden" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidenav">
                    <i class="fa-solid fa-bars"></i>
                </button>
            }

            <!-- Brand / Logo -->
            <a class="navbar-brand" href="@Url.Action("Index", "Website")">
                <i class="bi bi-lightning-charge me-1"></i> My MVC App
            </a>
        </div>
       
        <!-- Navbar Links -->
        <div id="navbarNav">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Website")">Home</a>
                </li>

    @*               @if (User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "App")">App</a>
                    </li>
                } *@

                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>

            <!-- Right side (Login & Register buttons) -->
           
        </div>
        <div id="dv-header-right">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <span class="icon-circle">
                    <i class="fa-solid fa-user"></i>
                </span>

                <form asp-controller="User"
                      asp-action="Logout"
                      method="post"
                      class="d-inline">

                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn">
                        Logout
                    </button>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "User")" class="btn">
                    Login
                </a>
                <a href="@Url.Action("Register", "Company")" class="btn">
                    Register
                </a>
            }

        </div>
    </nav>
</header>


