<header>
    <nav id="header-nav">

        <!-- Brand / Logo -->
        <a class="navbar-brand" href="@Url.Action("Index", "Website")">
            <img id="logo" src="~/img/EVEREST LOGO.svg" alt="Everest Logo Home Button" />
        </a>
       
        <!-- Navbar Links -->
        <div id="dv-navbar-items">
            <ul id="navbar-items">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Website")">Home</a>
                </li>

                @*               @if (User.Identity?.IsAuthenticated == true)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "App")">App</a>
                    </li>
                } *@

                <li class="nav-item">
                    <a class="nav-link" href="">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
        </div>


            <!-- Right side (Login & Register buttons) -->
           
        <div id="dv-header-right">
            @if (User.Identity?.IsAuthenticated == true)
            {
                <i id="settings-icon" class="fa-solid fa-gear"></i>

                <i id="user-icon" class="fa-solid fa-user"></i>

                <form asp-controller="User"
                      asp-action="Logout"
                      method="post"
                      class="d-inline">

                    @Html.AntiForgeryToken()

                    <a href="#" class="nav-link">Logout</a>
                </form>
            }
            else
            {
                <a href="@Url.Action("Login", "User")" class="btn">
                    Login
                </a>
                <a href="@Url.Action("Register", "Company")" class="btn">
                    Register
                </a>
            }

        </div>
    </nav>
</header>


