@model AssignTeamVM

<div id="assign-team-container">
    <form id="assign-team-form">
        @Html.AntiForgeryToken()

        <div id="dv-team">
            <h3>Team Name</h3>
        </div>

        <div id="dv-allocate-personnel" class="container table-responsive">
            <div class="allocate-header">
                <h4>Assign Personnel</h4>
            </div>

            <table id="tbl-allocate-personnel" class="app-table table">
                <thead>
                    <tr class="app-table-row">
                        <th class="app-table-header" scope="col"></th>
                        <th class="app-table-header" scope="col">First Name</th>
                        <th class="app-table-header" scope="col">Last Name</th>
                        <th class="app-table-header" scope="col">Username</th>
                        <th class="app-table-header" scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
              @*         @foreach (var teamMember in Model.TeamMembers)
                {
                    <tr class="app-table-row">
                        <td class="app-table-data">
                            <input type="checkbox" />
                        </td>
                        <td class="app-table-data">
                            <select class="sel-assign-team-member" data-userid="@teamMember.EmployeeId">
                                <option value="">Unassigned</option>
                                @foreach (var team in Model.ManageTeamsDTO.Teams)
                                {
                                    <option value="@team.TeamId" selected="@(team.TeamId == teamMember.TeamId)">@team.Name</option>
                                }
                            </select>
                        </td>
                        <td class="app-table-data">
                            @teamMember.FirstName
                        </td>
                        <td class="app-table-data">
                            @teamMember.LastName
                        </td>
                        <td class="app-table-data">
                            @teamMember.Username
                        </td>
                        <td class="app-table-data">
                            @teamMember.Email
                        </td>
                        <td class="app-table-data">
                            @teamMember.PhoneNumber
                        </td>
                    </tr>
                } *@

                </tbody>
           
            </table>
            <br />
            <div id="dv-team-btns" class="container">
                <div id="btn-container">
                    <button id="add-user-btn" class="primary-btn" type="button">Add</button>
                    <button id="remove-user-btn" class="warning-btn" type="button">Remove</button>
                </div>

                <button id="assign-btn" class="primary-btn">Save</button>
            </div>


        </div>

    </form>
</div>
<input type="hidden" id="hdn-team-key" value="" />

