@model ManagePersonnelVM

<link href="~/css/hr/_managepersonnel.css" rel="stylesheet" asp-append-version="true" />

<div id="manage-personnel-container">
    <form id="manage-personnel">
        @Html.AntiForgeryToken()
        <div id="dv-personnel-grid">

            <h4>Manage Personnel</h4>
            <div id="dv-register-personnel">
                <button id="self-register-button" class="primary-btn" type="button">Register</button>

                <div id="dv-send-registration-email">
                    <button id="register-email-button" class="secondary-btn" type="button">Send</button>
                    <input type="email" placeholder="Employee Registration Email" />
                </div>

            </div>

            <table class="app-table">
                <thead>
                    <tr class="app-table-row">
                        <th class="app-table-header"></th>
                        <th class="app-table-header">Role</th>
                        <th class="app-table-header">Id</th>
                        <th class="app-table-header">First Name</th>
                        <th class="app-table-header">Last Name</th>
                        <th class="app-table-header">Username</th>
                        <th class="app-table-header">Email</th>
                        <th class="app-table-header">Phone</th>
                        <th class="app-table-header">Active</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.Personnel)
                    {
                        <tr class="app-table-row">
                            <td class="app-table-data">
                                <input type="checkbox" />
                            </td>
                            <td>
                                @{
                                    bool isDisabled = user.RoleId == (int)Constants.DefaultRoles.Principal;
                                }

                                <select class="sel-assign-role" data-userid="@user.EmployeeId" disabled="@isDisabled">
                                    <option value="@((int)Constants.DefaultRoles.Unassigned)" selected="@((user.RoleId == (int)Constants.DefaultRoles.Unassigned).ToString().ToLower())">Unassigned</option>

                                    @foreach (var role in Model.Roles)
                                    {
                                        //prevent duplicate unassigned, keep it as default value
                                        if (role.Name == Constants.DefaultRoles.Unassigned.ToString())
                                            continue;

                                        //prevent assigning of principal role
                                        if (user.RoleId != (int)Constants.DefaultRoles.Principal && role.RoleId == (int)Constants.DefaultRoles.Principal)
                                            continue;

                                        //default to assigned roles
                                        if (role.RoleId == user.RoleId)
                                        {
                                            <option value="@role.RoleId" selected>@role.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@role.RoleId">@role.Name</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td class="app-table-data">
                                @user.EmployeeId
                            </td>
                            <td class="app-table-data">
                                @user.FirstName
                            </td>
                            <td class="app-table-data">
                                @user.LastName
                            </td>
                            <td class="app-table-data">
                                @user.Username
                            </td>
                            <td class="app-table-data">
                                @user.Email
                            </td>
                            <td class="app-table-data">
                                @* phone *@
                            </td>
                            <td class="app-table-data">
                                <input type="checkbox" />
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

 

        </div>

    </form>

</div>

<script type="module" src="~/js/hr/_managepersonnel.js" asp-append-version="true"></script>