@model RegisterVM

<div id="registration-container" class="container">

    <form id="registrationForm">
        @Html.AntiForgeryToken()

        <div id="dv-account-details" class="container form-container">

            <h3>Register</h3>
            <h4>Account Details</h4>

            <div class="row">
                <div class="col">
                    <div id="error-username-exists" class="text-error">@Voyage.Utilities.Constants.ErrUsernameExists</div>
                    <div id="error-username-req" class="text-error">@Voyage.Utilities.Constants.ErrUsernameIsReq</div>
                    <div id="error-username-min" class="text-error">@Voyage.Utilities.Constants.ErrUsernameMinLen</div>
                    <div id="error-username-max" class="text-error">@Voyage.Utilities.Constants.ErrUsernameMaxLen</div>
                    <input type="text" id="userName" placeholder="Username" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="error-email-req" class="text-error">@Voyage.Utilities.Constants.ErrInvalidEmail</div>
                    <input type="email" id="email" placeholder="Email" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="error-password-min" class="text-error">@Voyage.Utilities.Constants.ErrPassMinLen</div>
                    <div id="error-password-max" class="text-error">@Voyage.Utilities.Constants.ErrPassMaxLen</div>
                    <input type="password" id="password" placeholder="Password" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="password" id="confirm-password" placeholder="Confirm Password" required>
                </div>
            </div>

            <div class="dv-btn-container">
                <button id="btn-next-account-details" type="button" class="next-btn primary-btn">Next</button>
            </div>

        </div>




        <div id="dv-register-user" class="container form-container hidden">
            <h3>Register</h3>
            <h4>User Details</h4>

            <div class="row">
                <div class="col">
                    <div id="error-firstname-req" class="text-error">@Voyage.Utilities.Constants.ErrFirstNameReq</div>
                    <input type="text" id="firstName" placeholder="First Name" class="form-data">
                </div>
                <div class="col">
                    <input type="text" id="middleName" placeholder="Middle Name" class="form-data">
                </div>
                <div class="col">
                    <div id="error-lastname-req" class="text-error">@Voyage.Utilities.Constants.ErrLastNameReq</div>
                    <input type="text" id="lastName" placeholder="Last Name" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <select id="phoneCountryCode" class="form-data" required>
                        <option value="" style="color:gray" disabled selected>Country Code</option>
                        <option value="1">United States (+1)</option>
                        <option value="44">United Kingdom (+44)</option>
                        <option value="61">Australia (+61)</option>
                        <option value="64">New Zealand (+64)</option>
                        @*                     <option value="+1">🇨🇦 Canada (+1)</option>
                                    <option value="+91">🇮🇳 India (+91)</option>
                                    <option value="+81">🇯🇵 Japan (+81)</option>
                                    <option value="+82">🇰🇷 South Korea (+82)</option>
                                    <option value="+49">🇩🇪 Germany (+49)</option>
                                    <option value="+33">🇫🇷 France (+33)</option>
                                    <option value="+39">🇮🇹 Italy (+39)</option>
                                    <option value="+34">🇪🇸 Spain (+34)</option>
                                    <option value="+31">🇳🇱 Netherlands (+31)</option>
                                    <option value="+46">🇸🇪 Sweden (+46)</option>
                                    <option value="+47">🇳🇴 Norway (+47)</option>
                                    <option value="+41">🇨🇭 Switzerland (+41)</option>
                                    <option value="+65">🇸🇬 Singapore (+65)</option>
                                    <option value="+852">🇭🇰 Hong Kong (+852)</option>
                                    <option value="+971">🇦🇪 UAE (+971)</option>
                                    <option value="+86">🇨🇳 China (+86)</option>
                                    <option value="+55">🇧🇷 Brazil (+55)</option>
                                    <option value="+27">🇿🇦 South Africa (+27)</option> *@
                    </select>
                </div>
                <div class="col-2">
                    <div id="error-phoneareacode-req" class="text-error">@Voyage.Utilities.Constants.ErrPhoneAreaCodeIsReq</div>
                    <div id="error-phoneareacode-max" class="text-error">@Voyage.Utilities.Constants.ErrPhoneAreaCodeMaxLen</div>
                    <input type="number" id="phoneAreaCode" placeholder="Area Code" class="form-data" required>
                </div>
                <div class="col">
                    <div id="error-phone-req" class="text-error">@Voyage.Utilities.Constants.ErrPhoneNumReq</div>
                    <div id="error-phone-max" class="text-error">@Voyage.Utilities.Constants.ErrPhoneNumMaxLen</div>
                    <div id="error-phone-min" class="text-error">@Voyage.Utilities.Constants.ErrPhoneNumMinLen</div>
                    <input type="number" id="phone" placeholder="Phone Number" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="error-streetaddress-req" class="text-error">@Voyage.Utilities.Constants.ErrStreetAddrReq</div>
                    <input type="text" id="streetAddress" placeholder="Address" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <input type="number" id="unitNumber" placeholder="Unit Number" class="form-data">
                </div>
                <div class="col">
                    <div id="error-city-req" class="text-error">@Voyage.Utilities.Constants.ErrCityReq</div>
                    <input type="text" id="city" placeholder="City" class="form-data" required>
                </div>
                <div class="col">
                    <div id="error-state-req" class="text-error">@Voyage.Utilities.Constants.ErrStateReq</div>
                    <input type="text" id="state" placeholder="State" class="form-data" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="error-postal-req" class="text-error">@Voyage.Utilities.Constants.ErrPostalCode</div>
                    <div id="error-postal-min" class="text-error">@Voyage.Utilities.Constants.ErrPostCodeMinLen</div>
                    <div id="error-postal-max" class="text-error">@Voyage.Utilities.Constants.ErrPostCodeMaxLen</div>
                    <input type="number" id="zipCode" placeholder="Postal Code" class="form-data" required>
                </div>
                <div class="col">
                    <div id="error-country-req" class="text-error">@Voyage.Utilities.Constants.ErrCountryReq</div>
                    <select id="country" name="country" class="form-data" required>
                        <option value="" disabled selected>Country</option>
                        <option value="AU">Australia</option>
                        <option value="US">United States</option>
                        @*                     <option value="CA">Canada</option> *@
                        <option value="GB">United Kingdom</option>
                        <option value="NZ">New Zealand</option>
                        @*                     <option value="IN">India</option>
                    <option value="DE">Germany</option>
                    <option value="FR">France</option>
                    <option value="JP">Japan</option>
                    <option value="CN">China</option> *@
                    </select>
                </div>
            </div>

            <div class="dv-btn-container">
                <button id="register-btn" type="button" class="primary-btn">Register</button>
                <button id="btn-back-user" type="button" class="back-btn secondary-btn">Back</button>
            </div>
        </div>

        @* <input id="hdnCompanyId" type="hidden" value="@Model.CompanyId" /> *@
    </form>
</div>


