@using Voyage.Utilities;
@model TicketVM

<link href="~/css/Tickets/_manageticket.css" rel="stylesheet" asp-append-version="true"/>

@{
    string verb = "Edit";
    if (Model.TicketId != 0)
    {
        <h1>@verb Ticket</h1>
    }
    else
    {
        verb = "Add";
        <h1>@verb Ticket</h1>
    }
}

<div id="messagePopup" class="message-popup hidden">Saved successfully!</div>

<br />
<button type="button" id="btn-back" class="primary-btn">Back</button>
<br />
<br />

<div id="manage-ticket-container">
    <form id="ticket-form">
        @Html.AntiForgeryToken()

        <!-- Row 1: Ticket #, Parent Ticket #, Section -->
        <div class="form-row">
            <div>
                <label for="ticketId">Ticket #</label>
                <input type="text" id="ticketId" class="form-field" value="@(Model?.TicketId == 0 ? null : Model?.TicketId)" readonly />
            </div>
            <div>
                <label for="ticketParent">Parent Ticket #</label>
                <input type="text" id="ticketParent" class="form-field" value="@Model?.ParentTicketId" />
            </div>
            <!-- need to make section titles load dynamically from db  -->
            <div>
                <label for="ticketSectionTitle">Section</label>
                <select id="ticketSectionTitle" class="form-field" name="SectionTitle">
                    @if (Model?.TicketSettings?.Sections != null)
                    {
                        foreach (var s in Model.TicketSettings.Sections)
                        {
                            if (s.Title == "Discontinued")
                                continue;

                            <option value="@s.Title" selected="@(Model?.SectionTitle == s.Title)">
                                @s.Title
                            </option>
                        }
                    }
                </select>
            </div>
        </div>

        <!-- Row 2: Title -->
        <div class="form-row">
            <div>
                <label for="ticketTitle">Title</label>
                <input type="text" class="form-field" id="ticketTitle" value="@Model?.Title" />
            </div>
        </div>

        <!-- Row 3: Description -->
        <div class="form-row">
            <div>
                <label for="ticketDesc">Description</label>
                <div id="ticketDesc" class="form-field" contenteditable="true">@Html.Raw(Model?.Description)</div>
            </div>
        </div>

        <!-- Row 4: Assigned To, Priority Level -->
        <!-- make this auto populate from list of users matching query as they type -->
        <div class="form-row">
            <div >
                <label for="ticketAssignedTo">Assigned To</label>
                <input type="text" class="form-field" id="ticketAssignedTo" value="@Model?.AssignedTo" />
                <ul id="userResults" class="autocomplete-list"></ul>
            </div>
            <div >
                <label for="ticketPrioLvl">Priority Level</label>
                <select id="ticketPrioLvl" class="form-field">
                    <option value="0" selected="@(Model?.PriorityLevel == Constants.PriorityLevel.Low)">Low</option>
                    <option value="1" selected="@(Model?.PriorityLevel == Constants.PriorityLevel.Medium)">Medium</option>
                    <option value="2" selected="@(Model?.PriorityLevel == Constants.PriorityLevel.High)">High</option>
                </select>
            </div>
        </div>

        <!-- Row 5: Due Date, Status -->
        <div class="form-row">
            <div>
                <label for="ticketDueDate">Due Date</label>
                <input type="date" class="form-field" id="ticketDueDate" value="@Model?.DueDate" />
            </div>
            <div >
                <label for="ticketStatus">Status</label>
                <select id="ticketStatus" class="form-field" name="Status">
                    <option value="NotStarted" selected="@(Model?.Status == "NotStarted")">Not Started</option>
                    <option value="InProgress" selected="@(Model?.Status == "InProgress")">In Progress</option>
                    <option value="Discontinued" selected="@(Model?.Status == "Discontinued")">Discontinue</option>
                    <option value="Completed" selected="@(Model?.Status == "Completed")">Completed</option>
                
                </select>
            </div>
        </div>

        <div class="form-buttons">
            <button type="button" id="submitTicket" class="primary-btn">Save</button>
            <button type="button" id="undo-button" class="secondary-btn">Undo</button>
            <button type="button" id="deleteTicket" class="warning-btn">Delete</button>
        </div>
    </form>
</div>
