@model TicketVM

<div id="ticket-container" class="content-container">
    <h5>Ticket</h5>

    <div id="ticket-header">
        <div id="dvTicketTitle">
            <label id="lblTicketTitle" class="data-title">Title:</label>
            <label id="lblTicketTitleData"> @Model.Title</label>
        </div>

        <div id="ticket-header-grid">
            <label id="lblTicketIdTitle" class="data-title">ID: </label>
            <label id="lblTicketId">@Model.TicketId</label>

            <label id="lblTicketVersionTitle" class="data-title">Version:</label>
            <label id="lblTicketVersion">@(Model.TicketVersion)</label>

            <label id="lblParentTicketIdTitle" class="data-title">Parent ID: </label>
            <label id="lblTicketParentId">@Model.ParentTicketId</label>

            <label id="lblSectionTitle" class="data-title">Section: </label>
            <label id="lblSection">@Model.SectionTitle</label>
            
            @* row 2 *@
            <label id="lblPriorityLvlTitle" class="data-title">Priority:</label>
            <label id="lblPriorityLvl">@Model.PriorityLevel</label>

            <label id="lblStatusTitle" class="data-title">Status:</label>
            <label id="lblStatus">@AddSpacesToSentence(Model.Status)</label>

            <label id="lblTicketType" class="data-title">Type:</label>
            <label id="lblTicketTypeData"></label>

            <div></div>
            <div></div>
               
            @* row 3 *@
            <label id="lblAssignedTitle" class="data-title">Assigned To:</label>
            <label id="lblAssigned">@Model.AssignedTo</label>

            <label id="lblDueDateTitle" class="data-title">Due Date:</label>
            <label id="lblDueDate">@FormatUtcDate(Model.DueDate)</label>

            <label id="lblAuthorTitle" class="data-title">Author:</label>
            <label id="lblAuthor">@Model.CreatedBy</label>

            <label id="lblCreatedDateTitle" class="data-title">Created:</label>
            <label id="lblCreatedDate">@FormatUtcDateTime(Model.CreatedDate)</label>
        </div>

        <div id="dvDescription">
            <label id="lblDescTitle" class="data-title">Description:</label>
            <div id="lblDescription">@Html.Raw(Model.Description)</div>
        </div>

        <div id="ticket-btn-container">
            <button type="button" id="edit-ticket-button" class="primary-btn">Edit Ticket</button>
            <button type="button" id="mark-complete-button" class="secondary-btn">Mark Complete</button>
            <button type="button" id="discontinue-button" class="warning-btn">Discontinue</button>
            @* <button type="button" id="delete-ticket-button" class="warning-btn">Delete</button> *@
        </div>

    </div>
    <div class="divider"></div>
    <form>
        @Html.AntiForgeryToken()
        <div id="ticket-notes-container">
            @if (Model.TicketDetails.Any())
            {
                @foreach (var detail in Model.TicketDetails)
                {
                    <div class="note" data-ticketdetailsid="@detail.TicketDetailsId">
                        <div class="note-header">
                            <button class="edit-note-btn" type="button">Edit</button>

                            @if (detail.ModifiedDate != null && !string.IsNullOrEmpty(detail.ModifiedBy))
                            {
                                <span class="note-edited">Edited @detail.ModifiedDate by @detail.ModifiedBy</span>
                            }
                            
                            <span class="note-created">Added @detail.CreatedDate by @detail.CreatedBy</span>
                        </div>
                        <div class="note-content">
                            @Html.Raw(detail.Note)
                        </div>
                    </div>
                }
            }
        </div>
    </form>
    
    <div id="dv-center-wrapper">
        <div id="note-input-control">
            <div id="note-input" contenteditable="true">
            </div>
            <div id="ticket-btn-container">
                <button type="button" id="add-note-button" class="primary-btn">Add Note</button>
@*                 <button type="button" id="edit-ticket-button" class="secondary-btn">Edit</button>
                <button type="button" id="delete-ticket-button" class="warning-btn">Delete</button> *@
            </div>
        </div>
    </div>
    

</div>

<input id="hdnUsername" value="@ViewBag.Username" type="hidden" />
<input id="hdnTicketId" value="@Model.TicketId" type="hidden" />
<input id="hdnSectionId" value="@Model.SectionId" type="hidden" />
<input id="hdnIsLatest" value="@(Model.IsLatest?.ToString().ToLower() ?? "")" type="hidden" />


